@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Slixon Primary Color is #2AEAE7 */
@layer base {
  :root {
    --gradient: linear-gradient(to right,#29EAC4,#12D8FA, #0b2774);
    --background: 238 99.15% 98.5%;
    --foreground: 238 8.299999999999999% 1%;

    --muted: 238 8.299999999999999% 92.5%;
    --muted-foreground: 238 4.1499999999999995% 42.5%;

    --popover: 238 23.60000000000001% 92.5%;
    --popover-foreground: 238 8.299999999999999% 1.25%;

    --card: 238 23.60000000000001% 92.5%;
    --card-foreground: 238 8.299999999999999% 1.25%;

    --border: 238 13.299999999999999% 90%;
    --input: 238 13.299999999999999% 90%;

    /* Slixon Primary Color is #2AEAE7 */
    --primary: 179 82% 54%;
    --primary-foreground: 179 8.2% 5.4%;

    --secondary: 238 4.1499999999999995% 96.25%;
    --secondary-foreground: 238 5.9799999999999995% 12.5%;

    --accent: 238 4.1499999999999995% 96.25%;
    --accent-foreground: 238 5.9799999999999995% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 238 83% 25%;
    --radius: 1rem;
  }
  .dark {
    --gradient: linear-gradient(to right,#29EAC4,#12D8FA, #0b2774);

    --background: 179 53.3% 4.32%;
    --foreground: 179 8.2% 97.7%;

    --muted: 179 41% 16.200000000000003%;
    --muted-foreground: 179 8.2% 55.4%;

    --popover: 179 48.6% 7.0200000000000005%;
    --popover-foreground: 179 8.2% 97.7%;

    --card: 179 48.6% 7.0200000000000005%;
    --card-foreground: 179 8.2% 97.7%;

    --border: 179 41% 16.200000000000003%;
    --input: 179 41% 16.200000000000003%;

    /* Slixon Primary Color is #2AEAE7 */
    --primary: 179 82% 54%;
    --primary-foreground: 179 8.2% 5.4%;

    --secondary: 179 41% 16.200000000000003%;
    --secondary-foreground: 179 8.2% 97.7%;

    --accent: 179 41% 16.200000000000003%;
    --accent-foreground: 179 8.2% 97.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 179 8.2% 97.7%;

    --ring: 179 82% 54%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
